*{
    margin: 0;
    padding: 0;

}
body{
    display: block;
    margin: 0 auto;
    width: 50%;
    background: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header-1{
    font-size: 1.5rem;
    text-align: center;
    padding: 100px;
    color: red;

}
.phtable{
    padding: 5px;
    
    
}

@media (max-width: 600px){
    body{
        width: 100%;
    }
}

p{
  padding-top: 10px;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
    color: darkblue;
}
