*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.main-1{
    font-size: 1.5rem;
    font-style: italic;
    color: green;

}



p{
    font-size: 1rem;
    text-align: center;
}

.container{

}
.banner{
    width: 100%;
}
.back{
    text-align: left;
    margin-top: 40px;
}

a:hover{
    text-decoration: none;
    color: red;
}
.quotes{
    margin-top: 20px;
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid black;
}

@media (max-width: 600px){
    body{
        width: 100%;
    }
}